---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
 

<p class="double_underline">Upcoming Talks</p> 

{% for post in site.talks reversed %}
  {% if post.status == 'upcoming' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}


<p class="double_underline">Past Talks</p> 

{% for post in site.talks reversed %}
  {% if post.status == 'past' %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
